@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*------------- Css Variables -------------*/
:root {
  --main-bg-color: #000000;
  --primary-txt-color: #ffffff;
  --secondary-txt-color: #999999;
  --btn-bg-color: #e60065;
  --actor-txt-color: #2c3847;
  --video-bg-color: #3d0a21;
  --review-bg-color: #03494d;
  --review-hading-color: #272727;
  --review-para-color: #949da3;
  --footer-bg-color: #23262b;
  --actor-gradient-color: linear-gradient(#e60065, #0c5445);
  --hero-gradient-color: linear-gradient(
    297.49deg,
    #0a0a0a 32.71%,
    #97215d 93.59%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  font-family: 'Poppins', sans-serif;
  transition: all 0.2s ease-out;
  background: var(--main-bg-color);
  color: var(--primary-txt-color);
}

.container {
  max-width: 116.8rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

section {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/*-------------Reusable Styles-------------*/

h1 {
  font-size: 6rem;
  font-weight: 600;
  margin: -5.5rem 0 3.5rem 0;
}

h2 {
  font-size: 4.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

h4 {
  font-size: 2.8rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--secondary-txt-color);
}

span {
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--primary-txt-color);
}

/*-------------header area----------------*/
.header {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  transition: 0.5s;
}

.nav-bar .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
}

ul li {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 400;
  display: inline-block;
  margin-right: 4.6rem;
}

ul li:last-child {
  margin-right: 0;
}

.nav-bar .navigation {
  position: relative;
}

.nav-bar .navigation li:hover a {
  color: var(--btn-bg-color);
}

.nav-bar.sticky {
  background: var(--hero-gradient-color);
  box-shadow: 0 0 0.8rem 0.3rem #fff;
  height: 9rem;
}

.nav-bar .navigation .close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: var(--main-bg-color);
  font-size: 2.5rem;
}

.hamburger {
  background-color: var(--primary-txt-color);
  color: var(--main-bg-color);
  padding: 0.3rem 0.5rem;
  font-size: 2.2rem;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero-area {
  background: url(../img/bg-img.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.hero-area::before {
  content: '';
  background: var(--hero-gradient-color);
  opacity: 0.83;
  width: 100%;
  height: 100%;
  position: absolute;
}

.hero-area .hero-text {
  text-align: center;
  position: absolute;
  top: 42%;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

.button {
  border-radius: 4rem;
  border: none;
  background: var(--btn-bg-color);
  color: var(--primary-txt-color);
  text-transform: uppercase;
  text-align: center;
  padding: 2.3rem 6.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
}

.hero-area .hero-img .img-two {
  position: absolute;
  bottom: 0;
  left: 13rem;
  height: 75%;
}

.hero-area .hero-img .img-three {
  position: absolute;
  bottom: 0;
  right: 10rem;
  height: 76%;
}

.hero-area .hero-img .img-four {
  position: absolute;
  bottom: 14.5rem;
  right: 11.7rem;
}

@media (max-width: 1300px) {
  .hero-area .hero-text h1 {
    font-size: 4rem;
    margin-top: 0.5rem;
  }

  .hero-area .hero-text .img-one {
    width: 14rem;
  }

  .hero-area .hero-text .button {
    padding: 1.5rem 5.5rem;
  }

  .hero-area .hero-img .img-two {
    left: 0;
    height: 40rem;
  }

  .hero-area .hero-img .img-three {
    height: 40rem;
    right: 0;
  }

  .hero-area .hero-img .img-four {
    bottom: 7.5rem;
    right: 0;
  }
}

@media (max-width: 996px) {
  .logo {
    width: 9rem;
  }

  ul li {
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  .nav-bar .navigation {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    max-width: 30rem;
    background-color: var(--primary-txt-color);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    transition: left 0.5s ease-in-out;
  }

  .nav-bar .row,
  .nav-bar.sticky {
    height: 8rem;
  }

  .nav-bar .navigation a {
    color: var(--main-bg-color);
    padding: 1rem;
    font-size: 1.8rem;
  }

  .nav-bar .navigation li {
    margin: 0 0 1rem 0;
  }

  .hamburger {
    display: flex;
  }

  .nav-bar .navigation.show {
    left: 0;
  }
}

@media (max-width: 567px) {
  .hero-area .hero-img .img-three {
    display: none;
  }

  .hero-area .hero-text h1 {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .hero-area .hero-text h1 br {
    display: none;
  }

  .hero-area .hero-text .button {
    padding: 1.3rem 4.5rem;
    font-size: 1.6rem;
  }
}

/* ========== Video =========== */
.video-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10000;
  transition: 0.5s;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

.video-wrapper.active {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.video-wrapper video {
  width: 70%;
  max-width: 135rem;
}

.video-wrapper .video-control {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-txt-color);
  border-radius: 50%;
  color: var(--primary-txt-color);
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
  cursor: pointer;
  position: absolute;
}

.video-wrapper .close-video {
  position: absolute;
  top: 7rem;
  right: 7rem;
  color: var(--btn-bg-color);
  font-size: 4rem;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .video-wrapper video {
    width: 90%;
    max-width: 135rem;
  }
}

@media (max-width: 567px) {
  .video-wrapper .video-control {
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
  }
  .video-wrapper .close-video {
    font-size: 2.5rem;
    top: 10rem;
    right: 3rem;
  }
}

/*-------------about area----------------*/
.main-about {
  display: flex;
  align-items: center;
  margin: 19rem auto 14rem;
  justify-content: space-between;
}

.about-img {
  position: relative;
}

.about-img::before {
  position: absolute;
  left: 320px;
  top: 0px;
  content: '';
  background: url(../img/shapes-svg/about-star.svg) no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-img::after {
  position: absolute;
  left: 320px;
  top: 280px;
  content: '';
  background: url(../img/shapes-svg/about-frame.svg) no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-img img {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 99% 17%, 100% 100%, 0% 100%);
}

.about-text {
  flex-basis: 48%;
}

.about-text h2 {
  margin-bottom: 2.5rem;
}

.about-text p {
  margin: 1.5rem 0;
}

.about-text p:last-child {
  margin: 0;
}

@media (max-width: 1200px) {
  .about-img img {
    width: 80%;
  }

  .about-text h2 {
    font-size: 3rem;
  }

  .about-text h4 {
    font-size: 2rem;
  }

  .about-text span {
    font-size: 1.7rem;
  }

  .about-img::after {
    left: 250px;
    top: 200px;
  }
}

@media (max-width: 996px) {
  .about-img::after {
    background-size: 15rem;
  }
}

@media (max-width: 768px) {
  .about-img::after {
    background-size: 15rem;
  }

  .main-about {
    flex-direction: column;
    gap: 3rem 0;
  }
}

@media (max-width: 567px) {
  .about-img img {
    width: 100%;
  }

  .about-img::after,
  .about-img::before {
    display: none;
  }

  .about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .about-text h4 {
    font-size: 1.9rem;
  }
}

/*-------------actor area----------------*/
.title {
  text-align: center;
  position: relative;
  margin-bottom: 10rem;
}

.title h2 {
  margin-bottom: 2.5rem;
}

.title p {
  width: 60%;
  margin: 0 auto;
}

.title .polygon {
  position: absolute;
  top: -8rem;
  right: -2.2rem;
}

.all-actor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 10rem;
}

.all-actor::before {
  content: '';
  background: transparent;
  width: 38.2rem;
  height: 38.6rem;
  border: 8.6rem solid transparent;
  border-image: var(--actor-gradient-color);
  border-image-slice: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.all-actor .actor-box {
  background: var(--primary-txt-color);
  color: var(--actor-txt-color);
}

.actor-box .actor-text {
  padding-top: 1rem;
}

.actor-one {
  width: 17.6rem;
  height: 25.8rem;
}

.actor-one .actor-text h4 {
  font-size: 1.6rem;
}

.actor-one .actor-text span {
  font-size: 1.2rem;
}

.actor-two {
  width: 19.9rem;
  height: 29.2rem;
}

.actor-two .actor-text h4 {
  font-size: 2rem;
}

.actor-two .actor-text span {
  font-size: 1.4rem;
}

.actor-three {
  width: 27rem;
  height: 39.5rem;
  z-index: 1;
}

.actor-three .actor-text {
  padding: 2.5rem 0 0;
}

.actor-three .actor-text h4 {
  font-size: 2.4rem;
}

.actor-three .actor-text span {
  font-size: 1.6rem;
}

.actor-four {
  width: 38rem;
  height: 56.8rem;
}

.actor-four .actor-text {
  padding: 3rem 4.4rem;
}

.actor-four .actor-text p {
  color: var(--actor-txt-color);
}

.actor-four .actor-text span {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.actor-video {
  border-radius: 0.6rem;
  text-align: center;
  position: relative;
  background: url(../img/video-img.jpg) no-repeat center;
  background-size: cover;
  max-width: 77rem;
  width: 100%;
  height: 45.5rem;
  margin: 0 auto 12.6rem;
}

.actor-video::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--video-bg-color);
  opacity: 0.78;
  border-radius: 0.6rem;
}

.actor-video::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/play-button.png) no-repeat center;
  cursor: pointer;
}

.actor-video .actor-shape {
  position: absolute;
  bottom: -7rem;
  right: -9rem;
  z-index: -1;
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 7rem;
  }

  h2 {
    font-size: 3rem;
  }

  .title p {
    width: 100%;
  }

  .all-actor::before {
    display: none;
  }

  .actor-four .actor-text {
    padding: 3rem 0.5rem;
  }

  .all-actor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .all-actor .actor-box {
    width: 100%;
    height: 47rem;
  }

  .all-actor .actor-box .actor-img {
    height: 35rem;
  }

  .all-actor .actor-box .actor-img img {
    width: 100%;
    height: 100%;
  }

  .all-actor .actor-box .actor-text p {
    display: none;
  }

  .all-actor .actor-box .actor-text h4 {
    font-size: 2.4rem;
  }

  .all-actor .actor-box .actor-text span {
    font-size: 1.6rem;
  }
}

@media (max-width: 567px) {
  .all-actor {
    grid-template-columns: 1fr;
    gap: 3rem 0;
  }

  .all-actor .actor-box {
    width: 100%;
    height: 40rem;
  }

  .all-actor .actor-box .actor-img {
    height: 30rem;
  }

  .actor-video::after {
    background-size: 5rem;
  }
}

/*-------------popular area----------------*/
.popular-area {
  position: relative;
  margin-bottom: 13.5rem;
}

.popular-area .round-shape {
  position: absolute;
  top: 0;
  z-index: -1;
}

.popular-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.popular-bar .popular-text {
  flex-basis: 43%;
}

.popular-text h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.popular-text span {
  font-size: 1.9rem;
  margin-bottom: 2.4rem;
}

.popular-text p {
  margin-bottom: 1.4rem;
}

.popular-text p:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .popular-bar {
    flex-direction: column;
  }

  .round-shape {
    width: 5rem;
  }
}

@media (max-width: 567px) {
  .round-shape {
    width: 3rem;
  }
}

/*-------------review area----------------*/
.review {
  background: url(../img/review-bg.jpg) no-repeat;
  background-size: cover;
  padding: 18.4rem 0 8rem;
  margin-bottom: 12.5rem;
}

.main-review {
  background: var(--review-bg-color);
  opacity: 0.86;
  border-radius: 3rem;
  padding: 10rem 10rem 12rem 10rem;
  position: relative;
}

.review-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.review-heading {
  flex-basis: 45%;
}

.review-slide {
  position: relative;
  max-width: 476px;
  width: 100%;
  height: 160px;
  overflow: hidden;
  border-radius: 1rem;
}

.review-heading p {
  font-size: 1.8rem;
  margin-top: 3.5rem;
  color: var(--primary-txt-color);
}

.review-child {
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-txt-color);
  padding: 3.5rem 4rem;
  box-sizing: border-box;
}

.review-child .review-img {
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}

.review-img img {
  width: 100%;
  height: 100%;
}

.review-child .review-text {
  flex-basis: 65%;
}

.review-text h4 {
  font-size: 2rem;
  font-style: italic;
}

.review-text h4 {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  color: var(--review-hading-color);
  margin-bottom: 1rem;
}

.review-text p {
  font-style: italic;
  color: var(--review-para-color);
}

.review-button {
  position: absolute;
  left: 300px;
  bottom: -75px;
}

.review-button span {
  display: inline-block;
  margin-right: 3.5rem;
  color: var(--btn-bg-color);
  cursor: pointer;
}

@media (max-width: 996px) {
  .main-review {
    background: var(--review-bg-color);
    opacity: 0.86;
    border-radius: 3rem;
    padding: 10rem 3rem 10rem;
    position: relative;
  }
}

@media (max-width: 768px) {
  .review-area {
    flex-direction: column;
  }

  .review-button {
    left: 0;
  }
}

@media (max-width: 567px) {
  .review .container {
    padding: 0;
  }

  .main-review {
    padding: 5rem 3rem 10rem;
  }

  .review-child .review-img {
    width: 7rem;
    height: 7rem;
  }

  .review-child {
    padding: 3.5rem 2rem;
  }
}

/*-------------contact area----------------*/

.contact-area .row {
  text-align: center;
  padding: 10rem 0;
  background: linear-gradient(297.49deg, #0a0a0a 21.25%, #97215d 93.59%);
  opacity: 0.83;
  border-radius: 0.5rem;
  margin-bottom: 10.9rem;
  position: relative;
}

.contact-box {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

.contact-box h2 {
  font-size: 4.6rem;
  margin-bottom: 6rem;
}

.contact-box input {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 3.2rem;
  padding: 1rem 0;
  border: 0;
  outline: 0;
  border-bottom: 0.3rem solid var(--btn-bg-color);
  background: transparent;
  color: var(--primary-txt-color);
  font-size: 1.7rem;
}

.contact-box a {
  padding: 2.3rem 5.6rem;
  font-weight: 500;
}

.contact-shape .cShape-one {
  position: absolute;
  left: 7rem;
  bottom: 6rem;
}

.contact-shape .cShape-two {
  position: absolute;
  left: 10rem;
  bottom: 10rem;
}

.contact-shape .cShape-three {
  position: absolute;
  left: 5rem;
  bottom: 14rem;
}

.contact-shape .cShape-four {
  position: absolute;
  top: -4rem;
  right: -8rem;
}

@media (max-width: 768px) {
  .contact-box h2 {
    font-size: 3rem;
    margin-bottom: 6rem;
  }

  .contact-box a {
    padding: 2rem 3.5rem;
  }
}

/*-------------footer area----------------*/
.footer-area {
  background: var(--footer-bg-color);
  padding: 4rem 0;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu li a {
  position: relative;
}

.footer-menu li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: 2px solid var(--btn-bg-color);
  transition: 0.5s;
}

.footer-menu li:hover a::after {
  width: 100%;
}

.footer-icons {
  display: flex;
  align-items: center;
}

.footer-icons li {
  font-size: 1.8rem;
  border: 0.1rem solid var(--primary-txt-color);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons li:hover {
  background: var(--btn-bg-color);
}

.copy-right {
  text-align: right;
  padding: 1.5rem 0;
}

.copy-right p {
  color: var(--primary-txt-color);
  font-size: 1.4rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .footer-area {
    padding: 1rem 0;
  }

  .main-footer {
    padding: 0 1rem;
  }

  .footer-menu {
    display: none;
  }

  .footer-icons li {
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
}

/*-------------Scrollbar-------------*/
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--secondary-txt-color);
}

html::-webkit-scrollbar-thumb {
  background: var(--primary-txt-color);
  border-radius: 5rem;
}
