@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*------------- Css Variables -------------*/
:root {
  --main-bg-color: #000000;
  --primary-txt-color: #ffffff;
  --secondary-txt-color: #999999;
  --btn-bg-color: #e60065;
  --actor-txt-color: #2c3847;
  --video-bg-color: #3d0a21;
  --review-bg-color: #03494d;
  --review-hading-color: #272727;
  --review-para-color: #949da3;
  --footer-bg-color: #23262b;
  --actor-gradient-color: linear-gradient(#e60065, #0c5445);
  --hero-gradient-color: linear-gradient(
    297.49deg,
    #0a0a0a 32.71%,
    #97215d 93.59%
  );
}

/*------------- Basic Reset -------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  font-family: 'Poppins', sans-serif;
  transition: all 0.2s ease-out;
  background: var(--main-bg-color);
  color: var(--primary-txt-color);
}

.container {
  max-width: 116.8rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

section {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/*-------------Reusable Styles-------------*/

/*-------------header area----------------*/

/* ========== Video =========== */

/*-------------about area----------------*/

/*-------------actor area----------------*/

/*-------------popular area----------------*/

/*-------------review area----------------*/

/*-------------contact area----------------*/

/*-------------footer area----------------*/

/*-------------Scrollbar-------------*/
